@font-face {
  font-family: 'IRANSansXFaNum';
  src: url('../fonts/IranSansX/Woff/IRANSansXFaNum-Black.woff') format('woff'),
  url('../fonts/IranSansX/Woff2/IRANSansXFaNum-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'IRANSansXFaNum';
  src: url('../fonts/IranSansX/Woff/IRANSansXFaNum-Bold.woff') format('woff'),
  url('../fonts/IranSansX/Woff2/IRANSansXFaNum-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'IRANSansXFaNum';
  src: url('../fonts/IranSansX/Woff/IRANSansXFaNum-Medium.woff') format('woff'),
  url('../fonts/IranSansX/Woff2/IRANSansXFaNum-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'IRANSansXFaNum';
  src: url('../fonts/IranSansX/Woff/IRANSansXFaNum-Regular.woff') format('woff'),
  url('../fonts/IranSansX/Woff2/IRANSansXFaNum-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'IRANSansXFaNum';
  src: url('../fonts/IranSansX/Woff/IRANSansXFaNum-UltraLight.woff') format('woff'),
  url('../fonts/IranSansX/Woff2/IRANSansXFaNum-UltraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'IRANYekanXFaNum';
  src: url('../fonts/IranYekanX/Woff/IRANYekanXFaNum-Black.woff') format('woff'),
  url('../fonts/IranYekanX/Woff2/IRANYekanXFaNum-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'IRANYekanXFaNum';
  src: url('../fonts/IranYekanX/Woff/IRANYekanXFaNum-Bold.woff') format('woff'),
  url('../fonts/IranYekanX/Woff2/IRANYekanXFaNum-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: 'IRANYekanXFaNum';
  src: url('../fonts/IranYekanX/Woff/IRANYekanXFaNum-ExtraBlack.woff') format('woff'),
  url('../fonts/IranYekanX/Woff2/IRANYekanXFaNum-ExtraBlack.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'IRANYekanXFaNum';
  src: url('../fonts/IranYekanX/Woff/IRANYekanXFaNum-ExtraBold.woff') format('woff'),
  url('../fonts/IranYekanX/Woff2/IRANYekanXFaNum-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'IRANYekanXFaNum';
  src: url('../fonts/IranYekanX/Woff/IRANYekanXFaNum-Heavy.woff') format('woff'),
  url('../fonts/IranYekanX/Woff2/IRANYekanXFaNum-Heavy.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'IRANYekanXFaNum';
  src: url('../fonts/IranYekanX/Woff/IRANYekanXFaNum-Light.woff') format('woff'),
  url('../fonts/IranYekanX/Woff2/IRANYekanXFaNum-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}


@font-face {
  font-family: 'IRANYekanXFaNum';
  src: url('../fonts/IranYekanX/Woff/IRANYekanXFaNum-Regular.woff') format('woff'),
  url('../fonts/IranYekanX/Woff2/IRANYekanXFaNum-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


